body
{
    width:100%;
    height:100%;
    margin:0;
    overflow:hidden;
    font-family:sans-serif;
}
.config
{
}
.full
{
    display:flex;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
}
.game_row
{
    margin-bottom:40px;
    margin-top:40px;
    background:#f0f0f0;
    border:1px solid black;
    padding:40px;
    border-radius:10px;
}
.game_row label
{
    display:inline-block;
    width:200px;
}
.game_row input, .game_row select
{
    background:white;
    border:none;
    padding:7px 10px;
}
.game_row p
{
    margin-top:5px;
    margin-bottom:5px;
}
.hidden
{
    display:none !important;
}
#error
{
    position:fixed;
    z-index:3333;
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    font-size:40px;
    background:#ffffffbb;
    color:red;
}
#error.hidden
{
    display:none;
}
.game
{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}
.game_pseudos
{
    position:relative;
    top:50%;
    left:50%;
    width:87%;
    height:84%;
    transform:translateX(-50%) translateY(-50%);
}
.game_pseudo
{
    width:50%;
}
.game_pseudo-content
{
    margin:10px;
    height:calc(100% - 20px);
}
.game_pseudo-name
{
    position:relative;
    background:#a26211;
    padding:10px 0;
    color:white;
    font-size:14px;
    text-align:center;
    line-height:20px;
}
.game_pseudo-actions
{
    position:absolute;
    display:block;
    top:-20px;
    left:-50%;
    width:200%;
    color:#ddd;
    font-size:12px;
    vertical-align:top;
    text-align:center;
}
.game_pseudo-name span.master
{
    top:50%;
    right:10px;
    transform:translateY(-50%);
    text-align:right;
}
h1
{
    text-align:left;
    margin-top:30px;
    font-size:20px;
    padding:0px;
    margin-bottom:30px;
}
.game_board
{
    position:relative;
    width:100%;
    height:100%;
    margin:0px;
}
.game_board:before
{
    background:#4a624c;
    border-radius:30px;
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:88%;
    height:85%;
    transform:translateX(-50%) translateY(-50%);
}
.game_board-center
{
    position:absolute;
    top:50%;
    left:50%;
    width:calc(88% - 10px);
    height:calc(85% - 10px);
    transform:translateX(-50%) translateY(-50%);
    background:#4e8452;
    border-radius:30px;
}
.game_pseudo
{
    position:absolute;
    width:300px;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}

.game_board .game_pseudo:nth-child(1)
{
    top:-30px;
    transform:translateX(-50%);
}
.game_board .game_pseudo:nth-child(2)
{
    top:auto;
    bottom:-30px;
    transform:translateX(-50%);
}
.game_board .game_pseudo:nth-child(3),
.game_board .game_pseudo:nth-child(4)
{
    left:0;
    transform-origin:0 50%;
    transform:translateY(-60%);
}
.game_board .game_pseudo:nth-child(4)
{
    left:auto;
    right:0;
}

.cards
{
    position:relative;
    top:0;
    left:50%;
    width:0;
    transform:translateX(-50%);
    display:flex;
    justify-content:center;
    height:20vh;
    margin:5px;
}
.cards .card:nth-child(1) { transform:rotate(-2deg); }
.cards .card:nth-child(2) { transform:rotate(-1deg); }
.cards .card:nth-child(3) { transform:rotate(1deg); }
.cards .card:nth-child(4) { transform:rotate(2deg); }


.cards img
{
    height:21vh;
}
.card
{
    margin-right:-5vh;
}
.game_action
{
    display: flex;
    flex-direction: column;
    top: 0%;
    height:100vh;
    border-right:1px solid #b0b0b0;
    background:#f0f0f0;
    padding:30px 20px;
    width: 20vw;
    left: 0;
}
.game_action button
{
    display:block;
    margin:5px 0;
}
.cards_status
{
    color:red;
}
.cards_status.visible
{
    color:green;
}
.card-remove
{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    font-size:10px;
    border:none;
    padding:10px;
    text-transform:uppercase;
    cursor:pointer;
    font-size:0;
    background:url(../img/remove.png) center center no-repeat;
    background-size:80%;
    width:25px;
    height:25px;
}
.card-remove:hover
{
    background-color:#f0f0f0;
}
.game_whiteboard
{
    margin-top:30px;
}
.game_whiteboard textarea, 
.whiteboard_user
{
    border:1px solid black;
    background:white;
    height:200px;
    font-size:15px;
    padding:10px;
    margin:10px 0;
    width:100%;
    box-sizing:border-box;
}
.whiteboard_user
{
    background:#f0f0f0;
}
.teams
{
    margin-bottom:30px;
    display:flex;
}
.team_head
{
    display:grid;
    grid-template-columns:1fr 50px 40px;
    flex-direction:row;
    align-items:center;
    border-bottom:1px solid black;
}
.team
{
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    width:50%;
    background:white;
    font-size:13px;
}
.team1
{
    border-left:1px solid black;
}
.team_name, .team_points
{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    border-right:1px solid black;
    height:100%;
    box-sizing:border-box;
    padding:10px;
}
.team_points
{
    font-size:20px;
}
.points_move
{
    height:100%;
}
.points_move button
{
    border:none;
    cursor:pointer;
    width:100%;
    height:50%;
    padding:0;
    margin:0;
}
.team_row
{
    padding:10px;
}
.teams select
{
    width:100%;
}
.kick
{
    font-size:0;
    background:url(../img/remove.png) center center no-repeat;
    width:25px;
    height:25px;
    border:none;
    margin:0 5px;
    vertical-align:top;
    background-size:80%;
}
